/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-dic-2014, 14.59.52
    Author     : teo
*/

html{
        background-image: url("#{resource['css:img/bg_pattern.png']}");
	background-repeat: repeat;
        font-family: 'Dosis', sans-serif;
}

.title{
	margin-top:80px;
	vertical-align:center;
	text-align:center;
        font-size: 40px;
        color:#8DB9CB;
        text-shadow: 1px 1px 1px #FFF;
}


.message{
        margin-top:150px;
        text-align:center;
        font-size: 25px;
        color:#8DB9CB;
        text-shadow: 1px 1px 1px #FFF;
}