.info{
    padding:10px;
    margin-top:50px;
    margin-left:50px;
    height:283px;
    width:500px;
    border:1px solid #8DB9CB;
    display: inline-block;
    font-family: 'Dosis', sans-serif;
}

.info #title{
    font-size:30px;
    color:#F66448;
    margin-bottom: 40px;
    display:block;
}

.info #stime,.info #etime{
    font-size:20px;
    color:black;
    display:block;
}

.info #outd{
    font-size:20px;
    margin-top: 30px;
    color:blue;
    display:block;
}

.image{
    height:283px;
    width:500px;
    margin-top:50px;
    margin-right:50px;
    float:right;
    background-image: url("#{resource['css:img/default_event.jpg']}");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.description{
    font-family: 'Dosis', sans-serif;
    margin-top:50px;
    margin-right:50px;
    float:right;
    height:250px;
    width:500px;
    font-size: 18px;
    border:1px solid #8DB9CB;
    padding:5px;
    display: inline-block;
}

.googleMap{
    margin-top:50px;
    margin-left:80px;
    height:250px;
    width:350px;
    float:left;
    border:1px solid #8DB9CB;
    display: inline-block;
}