html{
	background-image: url("#{resource['css:img/new_york.jpg']}");
	background-repeat: no-repeat;
	background-position: center center;
        font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

.title{
	margin-top:50px;
	vertical-align:center;
	text-align:center;
}

.title a{
	font-size:60px;
	text-shadow: 1px 1px 1px #FFF;
}

#a1{
	color:#8DB9CB;
}

#weather{
	border:1px solid black;
	padding:10px;
	text-align:center;
        height:150px;
	font-size:50px;
	color:black;
	text-shadow:1px 1px 1px white;
	position:absolute;
        right:5.5%;
        top:140px;
}
#weather #city{
    width:180px;
}
#weather #conditions{
    
    width:60px;
    height:60px;
    background-image: url("#{resource['css:icons/weather/variable.png']}");
    background-size: 60px 60px;
    margin-top:15px;
    margin-left:10px;
    float:left;
    display:inline-block;
}
#weather #temperature{
    
    float:left;
    margin-left:15px;
    margin-top:10px;
    width:85px;
    height:60px;
    line-height: 60px;
    font-size:40px;
    display:inline-block;
}

#slogan{
	font-size:20px;
}

.login,.resetPassword{
	height:50px;
	width: 340px;
	margin-top:50px;
	margin-left: auto;
	margin-right:auto;
	font-size:25px;
	text-align:center;
	line-height:50px;
	background-color: #8DB9CB;
	color:white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.resetPassword{
    width:400px;
}

.form-div,.form,.formreset {
	text-align:center;
	background-color:rgba(72,72,72,0.45);
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:30px;
	width: 300px;
	margin-top:0px;
	margin-left: auto;
	margin-right:auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form,.formreset{
    width:360px;
}
.feedback-input {
	color:#3c3c3c;
        font-weight:200;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 35px;
	margin-top: 15px;
	width:100%;
	box-sizing: border-box;
        border: 3px solid #FFF;
}

forgot-input{
    padding-left:60px;
}

.feedback-input:focus{
	color: #3498db;
}

::-webkit-input-placeholder { 
        font-size:16px; 
}
::-moz-placeholder { 
        font-size:16px;
}
:-ms-input-placeholder { 
        font-size:16px; 
}
input:-moz-placeholder { 
        font-size:16px; 
}

.error{
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    text-align: center;
    width:50%;
    color: white;
    text-shadow: 0px 0px 5px red;
}

#username .feedback-input{
	background-image: url("#{resource['css:icons/user.png']}");
	background-size: 20px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

#password .feedback-input{
	background-image: url("#{resource['css:icons/password.png']}");
	background-size: 20px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.form .feedback-input{
	background-image: url("#{resource['css:icons/email.png']}");
	background-size: 20px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.forgot{
	height:30px;
}

.forgot a,#fieldName{
	color:white;
	font-size:18px;
	text-decoration:none;
}

#fieldName{
    margin-top:30px;
    display:block;
}

.forgot:hover a{
	text-shadow: 0px 0px 5px #FFF;
}

.submit{
	width: 100%;
	margin-top:30px;
}

#button-reg,#button-log,#button-reset{
	font-family: 'Dosis', Arial, Helvetica, sans-serif;
	width: 45%;
	border: #fbfbfb solid 2px;
	margin-left:auto;
	margin-right:auto;
	background-color: #8DB9CB;
	color:white;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
        font-weight:200;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#button-reset{
    marigin-top:10px;
}

#button-reg{
	margin-right:5px;
}

#button-log:hover,#button-reg:hover{
	background-color: white;
	color: #8DB9CB;
	border: #8DB9CB solid 2px;
}

.message{
    
    display:block;
    margin-top:10px;
    height:30px;
    color: white;
    text-shadow: 0px 0px 5px #65be63;
}