html{
	background-image: url("#{resource['css:img/bg_pattern.png']}");
	background-repeat: repeat;
        font-family: 'Dosis', sans-serif;
}

.registration,.title{
  height:50px;
  width: 690px;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  font-size:25px;
  text-align:center;
  line-height:50px;
  background-color: #8DB9CB;
  color:white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #8DB9CB;
  border-bottom:0px;
}

.form-div {
  background-color:rgba(141,185,203,0.2);
  padding-left:20px;
  padding-right:20px;
  padding-top:5px;
  padding-bottom:30px;
  width: 650px;
  margin-top:0px;
  margin-left: auto;
  margin-right:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #8DB9CB;
  border-top:0px;
}

.field{
  padding-top:20px;
}

#fieldName{
  width:140px;
  font-size:18px;
  margin-left:60px;
  margin-bottom:5px;
  display:inline-block;
}

.feedback-input {
  color:#3c3c3c;
  font-weight:200;
  font-size: 18px;
  border-radius: 0;
  line-height: 20px;
  width:50%;
   margin-bottom:5px;
  background-color: #fbfbfb;
  padding: 8px 8px 8px 10px;
  box-sizing: border-box;
  border: 3px solid #FFF;
}

.feedback-input:focus{
  color: #3498db;
}

.error{
    margin-left:200px;
    padding-left:10px;
    width:50%;
    color: red;
}
.submit{
  width: 100%;
  margin-top:30px;
  text-align:center;
}

#button-reg,#buttton-create{
  width: 20%;
  border: #fbfbfb solid 2px;
  background-color: #8DB9CB;
  color:white;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:700;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#button-reg:hover,#button-create:hover{
  background-color: white;
  color: #8DB9CB;
  border: #8DB9CB solid 2px;
}
